<!DOCTYPE html>
{% extends 'shop/base.html' %}
{% block body_block %}
<br>
<br>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="create">
</form>
<table class="table">
    <tr>
        <th>Brands</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    {% for brand in brands %}
    <tr>

        <td>{{brand.brand_name}}</td>
        <td><a href="{% url 'branddelete' brand.id %}">Delete</a></td>
        <td><a href="{%url 'brandedit' brand.id %}">Edit</a></td>


    </tr>
     {% endfor %}
</table>


{% endblock %}

