<!DOCTYPE html>
{% extends 'shop/base.html' %}
{% block body_block %}
<h1 class="mt-3">Orders</h1>
<br>
<table class="table">
    <tr>
        <th>user</th>
        <th>product</th>
        <th>address</th>
        <th>status</th>
        <th>cancel order</th>
        <th>view details</th>
    </tr>
    {% for order in orders %}
    <tr>

        <td>{{order.user}}</td>
        <td>{{order.product}}</td>
        <td>{{order.address}}</td>
        <td>{{order.status}}</td>
        <td><a href="{%url 'ordercancel' order.id %}">cancel</a></td>
        <td><a href="{%url 'orderdetails' order.id %}">details</a></td>


    </tr>
     {% endfor %}
</table>


{% endblock %}